 .contentButton {
    width: 80px;
    height: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    right: 20px;
    top: 80vh;
}