.reseñaUser {
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* .infoUserReseña {
    min-width: 100%;
    display: flex;
    flex-direction: row;
    margin: 0px;
    padding: 0px;
} */
.reseñaUser>h3 {
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 0px;
    padding: 0px;
    /* margin-top: 15px; */
}
.infoUserReseña{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
    gap: 10px;
}
.infoUserReseña>h4 {
    margin: 0px;
    padding: 0px;
    /* margin-top: 15px; */
}

.reseñaUser>span {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 0px;
}
.reseñaUser>span>p {
    margin: 0px;
    padding: 0px;
    padding-bottom: 5px;
}