.contentButtonDetalles{
    width: 110px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    border: 2px solid #0066ff;
    color: #000000;
    transition: all 0.5s ease;
    cursor: pointer;
}

.contentButtonDetalles>p{
    font-size: 1rem;
}
.ActionActivo{
    width: 250px;
    height: 50px;
    margin-bottom: 10px;
    background: #0066ff;
    color: #fffff0;
}

.ActionActioninactivo{
    background: #0066ff;
    color: #fffff0;
}
.ActionActivo:hover{
    background: #0066ff;
    color: #fffff0;
}
.Actioninactivo:hover{
    background: #0066ff;
    color: #fffff0;
}
.CarritoCompraBTN{
    background-color: #AE0000;
    max-width: 70%;
    color: #fffff0;
}
.CarritoCompraBTN:hover{
    background: #ff0000;
}
@media (width<600px){
    .CarritoCompraBTN{
        max-width: 40px;
        max-height: 30px;
    }
    .CarritoCompraBTN>p{
        font-size: 0.5rem;
    }
}