/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

.mainConteiner{
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
 .contentButton {
    width: 80px;
    height: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    right: 20px;
    top: 80vh;
}

.contentCat{
  width:85vw;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 70px;
  gap: 5px;
  /* overflow-x: scroll; */

}
.contentCat>div:first-child{
  margin-left: 20px;
}
.contentCat>div:last-child{
  margin-right: 20px;
}
.subtituloProductos{
  text-align: center;
  font-size: 2rem;
  width: 85vw;
 
}

/* .contentProduct{
  max-width: 85vw;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
  gap: 10px;
  padding: 0px;
  margin-top: -40px;
  margin-left: 75px;

} */
@media (width < 650px) {
  .contentCat{
    width: 70vw;
    overflow-x: scroll;
    justify-content: center;
    gap: 20px;
  }
  .contentCat>div:first-child{
    margin-left: 50vw;
  }
  .contentButton{
    right: 0px;
  }

}
@media (width < 450px){
  .contentCat>div:first-child{
    margin-left: 100vw;
  }
  .contentCat{
    margin-top: 100px;
  }
}