@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
body{
    background-color: var(--color-primary);
    margin: 0%;
    padding: 0%;
    font-family: var(--font-family-primary);
    overflow-x: hidden;
    /* color: var(--color-secundary); */
}
/*body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}*/
/*body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}*/
/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}*/

:root{
    --color-primary: #FFFFF0;
    --color-secundary: #0066FF;
    --color-blank: #000000;
    --font-family-primary: 'Montserrat';
    --font-family-secundary: 'Lato';
}

/* .Login{
    display: flex;
    justify-self: center;
    align-self: center;
    flex-direction: column;
    gap: 0.938rem;
    width: 40%;
    height: 31%;
    border: 3px solid #0066FF;
    border-radius: 60px;
    padding: 2rem;
    padding-top: 4rem;
    background-image: url("./img/logo_transparente.png");
    background-repeat: no-repeat;
    background-position: 50% 55%;
    background-size: 80%;
    min-width: 290px;
    max-width: 500px;

} */
.input{
    background-color: transparent;
    border-radius: 4px;
    outline: none;
    border: 1px var(--color-blank) solid;
    width: 98%;
    height: 40px;
}
.textSubTitle{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.375rem;
    font-size: 1.5rem;
    margin: 0%;
}
.texth3{
    display: flex;
    align-items: center;
    height: 1.5rem;
    margin: 0%;
    font-size: 1rem;
    align-self: flex-start;
    font-family: var(--font-family-secundary);
}
aside{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    gap: 2.313rem;
    
}
.registrarse{
    background-color: var(--color-secundary);
    border: 1px solid var(--color-secundary);
    color: var(--color-primary);
    font-family: var(--font-family-secundary);
    font-weight: bold;
    border-radius: 9px;
    /* width: 5.375rem; */
    width: 10.75rem;
    height: 2.75rem;
    cursor: pointer;
}
.textO{
    display: flex;
    font-family: var(--font-family-secundary);
    margin: 0%;
    align-items: center;

}
.acceder{
    font-family: var(--font-family-secundary);
    font-weight: bold;
    border: 1px solid var(--color-secundary);
    border-radius: 9px;
    /* width: 5.375rem; */
    width: 10.75rem;
    height: 2.75rem;
    cursor: pointer;
}
/*
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

