.blue{
    background: #064588;
    color: #fffff0;
    border: 2px solid #0066ff;
}
.white{
    background:  #fffff0;
    border: 2px solid #1d1d1d;
}
.socialLogin{
    max-width: 40px;
    max-height: 15px;
    min-width: 100px;
    min-height: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 10px;
    gap: 10%;
    cursor: pointer;
}
.socialLogin>img{
    max-width: 15px;
    max-height: 15px;
}

/* @media (width < 600px) {
    .socialLogin{
        max-width: 10px;
        max-height: 10px;
        padding: 0px;
        margin: 0;

    }
    .socialLogin>img{
        max-width: 20px;
        max-height: 20px;
    }
    .socialLogin>h4{
        font-size: 10px;
    }

} */