.headerComponent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #0066ff;
    width: 100vw;
    max-width: 1800px;
    top: 0px;
    left: 0px;
    color: #fffff0;
    text-align: center;
    height: 10%;
}
.headerComponent>div:first-child{
    display: flex;
    flex-direction: row;
    cursor: pointer;
   
}
.headerComponent>div:first-child h2{
    margin: 5px;
    font-size: 0.8rem;
}
.headerComponent>div:first-child img{
    width: 30px;
    height: 30px;
}
.headerComponent>div:nth-child(2){
    display: flex;
    flex-direction: row;
    
}
.headerComponent>div:nth-child(2) img{
    width: 20px;
    height: 20px;
    margin-left: -30px;
    margin-top: 10px;
}
.headerComponent>div:nth-child(2) input{
    width: 80%;
    height: 40px;
    background: #fffff0;
    /* border-radius: 16px; */
    border-radius: 28px;
    border: none;
    outline: none;
    /* box-shadow: 1px 2px 10px #353434; */
}
.headerComponent>div:last-child{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 25%;
}
.headerIconUser{
    min-height: 7vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-left: 3px solid #fffff0;

}
.headerIconUser>img{
    min-width: 30px;
    min-height: 30px;
    translate: transformY(100%);
}
.headerComponent>div:last-child img{
    width: 20px;
    height: 20px;
    margin: 0px;
    padding: 0px;
    cursor: pointer;
    
}
.headerComponent>div:last-child p{
    margin: 0px;
    padding: 0px;
    font-size: 0.6rem;
}

.headercontenicon{
    display: flex;
    align-items: center;
    gap: 0px;
    justify-items: center;
}
.headercontenicon img{
    max-width: 30px;
    max-height: 30px;
  
}
.headercontenicon>img:nth-child(2){
    position: absolute;
    top: 0px;
}
.contentMenuHover{
    position: absolute;
    top: 70px;
    right: 13%;
    font-size: 0.8rem;
    list-style: none;
    text-decoration: none;
    color: #1d1d1d;
    background-color: #fffff0;
    padding: 0;
    display: none;
}
.contentMenuHoverActive{
    display: block;
}

/* .contentMenuHover::after{
    content: '';
    position: absolute;
    width: 10%;
    height: 20%;
    top: -25%;
    left: 40%;
    background-color: #1d1d1d;
    border-top-right-radius: 40%;
  
}

.contentMenuHover::before{
    content: '';
    position: absolute;
    width: 10%;
    height: 20%;
    top: -25%;
    left: 30%;
    background-color: #1d1d1d;
    border-top-left-radius: 40%;
  
} */
.contentMenuHover>a>li{
    color: #1d1d1d;
}
.contentMenuHover>a{
    text-decoration: none;
    cursor: pointer;
}
.contentMenuHover>a>li:Hover{
    color: #000;
    border-bottom: 1px solid #1d1d1d;
}
@media (width < 600px){
    .headerComponent>div:last-child{
        min-width: 50%;
        justify-content: space-evenly;
    }
    .contentIconColor{
        display: flex;
        min-width: 10%;
        gap: 10px;
    }
}

@media (width > 600px) {
    .headerComponent>div:nth-child(2) input{
        width: 300px;
    }
    .headerComponent>div:first-child h2{
        font-size:2rem;
        margin-top: 15px;
    }
    
    .headerComponent>div:first-child img{
        margin-top: 10px;
        margin-left: 10px;
         width: 50px;
        height: 50px;
    }
    .headerComponent>div:last-child img{
        margin-top: 10px;
        margin-right: 10px;
        width: 40px;
        height:40px;
    }
    .headerComponent>div:last-child img:last-child{
        margin-top: 10px;
    }
    
}
@media (width>1150px) {
    
    .headerComponent>div:nth-child(2) input{
        width: 700px;
        margin-left: 130px;
    }
    
}