.imagenZoom{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #1d1d1dbb;
}

.imagenZoom> img{
    width: 30%;
    height: auto;
}