
.mainConteiner{
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contentCat{
  width:85vw;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 5px;
  scroll-snap-type: x mandatory;
  /* overflow-x: scroll; */

}
.contentCat>div:first-child{
  margin-left: 20px;
}
.contentCat>div:last-child{
  margin-right: 20px;
}
.subtituloProductos{
  text-align: center;
  font-size: 2rem;
  width: 85vw;
 
}

.contentProduct{
  max-width: 85vw;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
  justify-content: center;
  gap: 10px;
  padding: 0px;
  margin-top: -20px;
  /* margin-left: 75px; */

}
@media (width < 650px) {
  .contentCat>div:first-child{
  margin-left: 400px;
}
  .contentCat{
    width: 70vw;
    overflow-x: scroll;
    justify-content: center;
    gap: 20px;
  }
  .contentCat>div:first-child{
    margin-left: 110vw;
  }

}
@media (width < 450px){
  .contentCat>div:first-child{
    margin-left: 100vw;
  }
  .contentCat{
    margin-top: 100px;
  }
}

@media (width < 1050px){
  .contentCat>div:first-child{
    margin-left: 400px;
  }
  .contentCat{
    width: 70vw;
    overflow-x: scroll;
    justify-content: center;
    gap: 20px;
  }
}