.contentButtonDetalles{
    width: 80px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: 2rem;
    border-radius: 10px;
    border: 1px solid var(--color-secundary);
    color: var(--color-blank);
    transition: all 0.5s ease;
}
.contentButtonDetalles>span{
    color: var(--color-secundary);
    min-height: 50%;
    min-width: 40%;
    cursor: pointer;
    text-align: center;
}
.contentButtonDetalles>span:hover{
    color: var(--color-blank);
}
/* .contentButtonDetalles:hover{
    background: var(--color-secundary);
    color: var(--color-primary);
}
.contentButtonDetalles>span:hover{
    color: var(--color-primary);
} */

.CarritoCantbtn{
    max-width: 95%;
    max-height: 40%;
}
@media (width<600px){
    .CarritoCantbtn{
        max-width: 40px;
        max-height: 30px;
        font-size: 1rem;
    }
}