.contentButtonDetalles{
    width: 80px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: 2rem;
    border-radius: 10px;
    border: 1px solid var(--color-secundary);
    color: var(--color-blank);
    transition: all 0.5s ease;
}
.contentButtonDetalles>span{
    color: var(--color-secundary);
    cursor: pointer;
}
.contentButtonDetalles>span:hover{
    color: var(--color-blank);
}
/* .contentButtonDetalles:hover{
    background: var(--color-secundary);
    color: var(--color-primary);
}
.contentButtonDetalles>span:hover{
    color: var(--color-primary);
} */