.hamburguerMenu{
    position: absolute;
    top: 90px;
    left: 20px;
    width: 50px;
    height: 50px;
    background-color: #0066ff;
    border-radius: 5px;
    color: #fffff0;
    font-size: 2rem;
}
.hamburguerMenu:hover{
    cursor: pointer;
}
.hamburguerMenu>img{
    max-width: 100%;
    max-height: 100%;
}

@media (width < 700px) {
    .hamburguerMenu{
        top: 45px;
        left: 10px;
    }
}